@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  font-family: 'Inter', sans-serif;
}
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlideUp 1s ease forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}
